
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header" />
<body>

	<div th:replace="common/header :: navbar"></div>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="container index-container">
		<div class="jumbotron">			
		</div>
		
		<hr/>
		<h1>Welcome To ComeHomeCar</h1>
			<p>The ultimate experience of getting you your best buddy with
				best price.</p>
			<p>
				Bacon ipsum dolor amet filet mignon bresaola drumstick buffalo boudin. Meatball ball tip prosciutto t-bone ribeye salami buffalo frankfurter. Turkey meatloaf short loin ribeye chuck ball tip landjaeger t-bone tri-tip hamburger salami picanha. Andouille salami biltong filet mignon t-bone swine porchetta.

                Pastrami pig cupim brisket ground round beef fatback prosciutto pork porchetta corned beef ribeye. Frankfurter venison ribeye strip steak chuck buffalo chicken. Ham hock turkey pork chop meatloaf jowl cow. Ham hock tenderloin chuck andouille, chicken pork belly pancetta bresaola pork pig shoulder swine. Ground round drumstick biltong ribeye brisket kielbasa jowl spare ribs. Turkey pancetta pastrami, spare ribs alcatra tongue beef leberkas shoulder ball tip jerky andouille ham.

                Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
			</p>
		
		<hr/>
		<h2>Our Motto</h2>	
			<p>
			 
			 Spicy jalapeno qui et doner, minim pancetta esse t-bone biltong nostrud. Ex jerky sausage kevin anim eu. Ipsum pancetta occaecat, doner pastrami burgdoggen leberkas. Pancetta in salami meatball velit kevin ground round. Fugiat ut prosciutto meatloaf sed. Eiusmod ut spare ribs jowl, kevin swine adipisicing buffalo ut pork chop meatloaf turkey.

             Eu et salami mollit kevin, swine boudin officia pariatur. Tri-tip chuck salami aliqua officia sed eu cupim eiusmod jowl short loin. Andouille salami pork loin boudin ipsum sint, chuck do quis ham. Andouille magna pork chop beef voluptate fugiat short ribs do pork incididunt. Chuck ham hock in shank anim, pancetta proident shankle aliqua ut venison aliquip dolore. Hamburger nisi t-bone pork chop occaecat tri-tip shankle flank ham spare ribs dolor salami. Buffalo magna in, ad salami excepteur culpa.

             Id pancetta andouille dolor t-bone, doner flank biltong est alcatra landjaeger labore incididunt in sint. Picanha turkey ipsum deserunt. Meatball pork belly dolore shankle, laborum reprehenderit meatloaf beef ribs ribeye ham hock venison prosciutto leberkas velit corned beef. Landjaeger ut eu do, short ribs alcatra occaecat.
				
			</p>			
		
	</div>

	<div th:replace="common/header :: footer"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>

</body>
</html>
